{% extends 'blog/base.html' %}
{% block content %}
{% load staticfiles %}
{% if user.admin_approve == False %}
  {% include "registration/admin_wait.html" %}
{% endif %}
{% if user.is_authenticated %}
  {% include "registration/already_authenticated.html" %}
{% else %}
  <div class="login-page">
    <h2 class="login-title">Log In</h2>
    <form class="login-form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="login-button button" type="submit">Log In</button>
    </form>
  </div>
{% endif %}
{% endblock %}
