{% extends 'blog/base.html' %}
{% block content %}
{% load staticfiles %}
{% if user.admin_approve == False %}
You do not have Admin Aproval Yet
{% endif %}
{% if user.is_authenticated %}
You are already logged in
{% else %}
  <div class="login-page">
    <h2 class="login-title">Log In</h2>
    <form class="login-form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="login-button button" type="submit">Login</button>
    </form>
  </div>
{% endif %}
{% endblock %}
