{% extends 'blog/base.html' %}
{% block content %}
{% load staticfiles %}
<div class="page-401">
  <div class="post">
    <div class="post-roll post-header"></div>
      <div class="post-content">
        <p class="post-text">His majesty, <b>King Edwaord II</b>, has decreed this page to be forbidden to anyone without the proper credentials. Anyone caught entering forbidden pages will be brought before the council to receive judgement.</p>
        <div class="signature-container">
          <img class="wax-seal" src="/media/squirespace_img/wax-seal.png">
          <p class="signature first">RP D</p>
          <p class="signature">A I D</p>
        </div>
        <br style="clear:both;">
      </div>
      <div class="post-roll post-footer"></div>
    </div>
  </div>
</div>



{% endblock %}


