{% extends 'blog/base.html' %}
{% block content %}
{% load staticfiles %}
<div class="page-401">
  <div class="post">
    <div class="post-roll post-header"></div>
      <div class="post-content">
        <p class="post-text">The page you are looking for does not exist. The Royal Council has been informed and will investigate at their earliest convenience.</p>
        <div class="signature-container">
          <img class="wax-seal" src="/media/squirespace_img/wax-seal.png">
          <p class="signature first">RP D</p>
          <p class="signature">A I D</p>
        </div>
        <br style="clear:both;">
      </div>
      <div class="post-roll post-footer"></div>
    </div>
  </div>
</div>
{% endblock %}