<html>

{% load staticfiles %}
<link href="{% static "css/theme.css" %}" rel="stylesheet">

<!-- Comment this out to see things normally. Ooer css is great for testing.-->
<!-- <link href="{% static "css/ooer.css" %}" rel="stylesheet"> -->

<body>
    <h1><a href="/">SquireSpace</a></h1>
    <div class="content">
        <div class="row">
        	<form method="get" action="/reg">
    			<button type="submit">Register</button>
			</form>
            <a href="/login"><button class="button">Log-In</button></a>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>