<html>

{% block content %}
{% load staticfiles %}
<link href="{% static "css/theme.css" %}" rel="stylesheet">

<body>
	<div class = "container">
	<h1>Login</h1>
	<form method="POST" class="login-form" action ="">
		<div class="form-field">
			<label for="fstname">User Name</label>
			<div>
				<input type = "text" id="uname">
			</div>
		</div>
		<div class="form-field">
			<label for="password">Password</label>
			<div>
            	<input type= PASSWORD id="password"/>
            </div>	
        </div>
        <div class="form-field">
        	<label for="passwordconfirm">Confirm Password</label>
          	<div>
          		<input type= PASSWORD  id= "passwordconfirm"/>
          	</div>
        </div>
        <button type="submit" class="save btn btn-default">Login</button>
	</form>

	</body>
{% endblock %}
</html>