{% extends 'blog/base.html' %}
{% block content %}
{% load staticfiles %}
	{% if user.is_authenticated %}
		<div class="sub-header colour-theme-2">
			<a href="{% url 'post_new' %}"><button class="new-post-button button">New Post</button></a>
			<!-- For Future Dayna: http://stackoverflow.com/questions/8430279/how-to-style-the-option-with-only-css -->
			<select name="viewtype" class="dropdown button view-posts-dropdown">
				<option value="all-posts">View All Posts</option>
				<option value="friends-posts">View My Friends Posts</option>
				<option value="my-posts">View My Posts</option>
			</select>
			<a href="{% url 'profile' pk=user.squire.pk %}"><button class="profile-button button">Profile</button></a>
		</div>

	  <div class="stream">
	  	{% if user.is_authenticated %}
				{% for post in posts|dictsortreversed:"published_date" %}

					{# If the author is the user, show immediately and ignore privacy #}
					{% if post.author == user %}
						{% include "blog/post.html" %}

					{# If the post is public, anyone can see it #}
					{% elif post.privatelevel == "public" %}
						{% include "blog/post.html" %}

					{# If the post is friends only, check that the author is a friend #}
					{% elif post.privatelevel == "friends" and post_author in friends %}
						{% include "blog/post.html" %}

					{# If the post is friends of friends, check that the author has a friend that is the user's friend #}
					{% elif post.privatelevel == "friends_of_friends" %}
						{# TODO #}

					{# If the post is host_friends, check that the author is a friend #}
					{% elif post.privatelevel == "host_friends" and post_author in friends %}
						{# and check if they posted from the same host #}
						{% if post.host == "squirespace" %}
							{% include "blog/post.html" %}
						{% endif %}

					{% endif %}
				{% endfor %}
				<!-- NEED THIS EVENTUALLY
				{% for post in socknetposts %}
					{% include "blog/post.html" %}
				{% endfor %}
				-->
			{% else %}
			Please log in to view posts
			{% endif %}
		</div>
	{% endif %}
{% endblock %}