{% extends 'blog/base.html' %}
{% block content %}
{% load staticfiles %}
	{% if user.is_authenticated %}
		<div class="sub-header colour-theme-2">
			<a href="{% url 'post_new' %}"><button class="new-post-button button">New Post</button></a>
			<!-- For Future Dayna: http://stackoverflow.com/questions/8430279/how-to-style-the-option-with-only-css -->
			<select class="dropdown button view-posts-dropdown">
				<option value="all-posts">View All Public Posts</option>
				<option value="friends-posts">View My Friends Posts</option>
				<option value="my-posts">View Only My Posts</option>
			</select>
			<a href="{% url 'profile' pk=user.id %}"><button class="profile-button button">Profile</button></a>
		</div>
	{% endif %}
  <div class="stream">
		{% for post in posts|dictsortreversed:"published_date" %}
		<div class="post">
			<div class="post-roll post-header"></div>
			<div class="post-content">
		    <h1 class="post-title">{{ post.title }}</h1>
		    {% if user == post.author %}
	      	<a style="display:block;text-align: right;" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
	      {% endif %}
		    <img class="post-image image" src="/media/{{ post.image }}">
		    <p class="post-text">{{ post.text|linebreaksbr }}</p>
		    <p class="post-publish-info"><a href="{% url 'profile' pk=post.author.id %}" ><b>{{ post.author }}</b></a></br>{{ post.published_date.date }}</br>{{ post.published_date.time }}</p>
	    	{% if post.comments.all %}
	    	<h1 class="comments-title">Comments:</h1>
	    	{% endif %}
		    {% for comment in post.comments.all %}
			    <div class="comment">
		        <p class = "comment-text">{{ comment.text|linebreaksbr }}</p>
		        <p class="post-publish-info"><a href="{% url 'profile' pk=comment.author.id %}" ><b>{{comment.author}}</b></a></br>{{ comment.created_date.date }}</br>{{comment.created_date.time}}</p>
	        </div>
		    {% endfor %}
		    {% if user.is_authenticated %}
		    <a href="{% url 'post_detail' pk=post.pk %}">Add a comment</a>
		    {% endif %}
	    </div>
			<div class="post-roll post-footer"></div>
		</div>
		{% endfor %}
	</div>
{% endblock %}