{% extends 'blog/base.html' %}
{% block content %}
{% load staticfiles %}		
{% if user.is_authenticated %}

    <div class="post-page">
        {% include "blog/post.html" %}

        {% if user.is_authenticated %}
        <div class="comment-form">
        <h1>Add a comment</h1>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button class="button" type="submit">Post Comment</button>
            </form>
        </div>
        {% endif %}
    </div>
{% endif %}
{% endblock %}