{% extends 'blog/base.html' %}
{% block content %}
{% load staticfiles %}		
    <div class="post post-page">
        {% if user == post.author %}
        	<a href="{% url 'post_edit' pk=post.pk %}">Edit Post</a>
        	<a href="{% url 'post_delete' pk=post.pk %}">Delete Post</a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <img src="/media/{{ post.image }}">
	    <p><big>{{ post.text|linebreaksbr }}</big></p>
	    <p><small>published: {{ post.published_date }} by {{ post.author }}</small></p>
    </div>
    <hr />
    {% for comment in post.comments.all %}
        <p><big>{{ comment.text|linebreaksbr }}</big></p>
        <p><small>published: {{ comment.created_date }} by {{ comment.author }}</small></p>
    {% endfor %}

    {% if user.is_authenticated %}
    <p>Add a comment</p>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Post Comment</button>
    </form>
    {% endif %}
    {% endblock %}