{% extends 'blog/base.html' %}
{% block content %}
{% load staticfiles %}
	{% if user.is_authenticated %}
		<div class="sub-header colour-theme-2">
			<a href="{% url 'post_new' %}"><button class="new-post-button button">New Post</button></a>
			<!-- For Future Dayna: http://stackoverflow.com/questions/8430279/how-to-style-the-option-with-only-css -->
			<select name="viewtype" class="dropdown button view-posts-dropdown">
				<option value="all-posts">View All Public Posts</option>
				<option value="friends-posts">View My Friends Posts</option>
				<option value="my-posts">View Only My Posts</option>
			</select>
			<a href="{% url 'profile' pk=user.id %}"><button class="profile-button button">Profile</button></a>
		</div>
	{% endif %}

  <div class="stream">
  	{% if user.is_authenticated %}
			{% for post in posts|dictsortreversed:"published_date" %}
				{% if post.privatelevel == "public" %}
					{% include "blog/post.html" %}
				{% endif %}
			{% endfor %}
		{% else %}
		Please log in to view posts
		{% endif %}
	</div>
{% endblock %}