{% extends 'blog/base.html' %}
{% block content %}
{% load staticfiles %}
{% load friendshiptags %}
{% if user.is_authenticated %}
  <div class="profile">
    <div class="sub-header colour-theme-2">
      <div class="personal-info">
        <h1 class="name">{{profile_owner.username}}</h1>
      </div>
      {% if user == profile_owner %}
      <a href="{% url 'post_new' %}"><button class="new-post-button button">New Post</button></a>
      {% else %}
        {% if user in friends %}
          <a><button class="new-post-button button">Remove Friend</button></a>
        {% else %}
          <a href="{% url 'send_friend_request' pk=1 %}"><button class="new-post-button button">Add Friend</button></a>
        {% endif %}
      {% endif %}

    </div>
    <div class="friends-list">
      <h1 class="friends-list-title"> Friends:</h1>
      {% for friend in friends %}
        <div class="friend">
          <a href="{% url 'profile' pk=friend.id %}" class="friend-name">{{friend.username}}</a>
        </div>
      {% endfor %}
      <h1 class="follow-list-title"> Followed by:</h1>
      {% for follower in followers %}
        <div class="friend">
          <a href="{% url 'profile' pk=follower.id %}" class="friend-name">{{follower.username}}</a>
        </div>
      {% endfor %}
      <h1 class="follow-list-title"> Following:</h1>
      {% for follows in following %}
        <div class="friend">
          <a href="{% url 'profile' pk=follows.id %}" class="friend-name">{{follows.username}}</a>
        </div>
      {% endfor %}

    </div>
    <div class="stream">
      {% for post in posts|dictsortreversed:"published_date" %}
        {% include "blog/post.html" %}
      {% endfor %}
    </div>
  </div>
{% else %}
401: You do not have the authorization to be here
{% endif %}
{% endblock %}