<html>

{% block content %}
{% load staticfiles %}
<link href="{% static "css/theme.css" %}" rel="stylesheet">

<body>
	<div class = "container">
	<h1>User Signup</h1>
	<form method="POST" class="signup-form" action ="/reg/">
        {% csrf_token %}

		<div class="fieldWrapper">
			<label for="username">Username</label>
			{{form.username}}
		</div>
		<div class="form-field">
			<label for="email">E-mail</label>
			{{form.email}}
		</div>
		<div class="form-field">
			<label for="password">Password</label>
			{{form.password}}
        </div>
    <button type="submit" class="save btn btn-default">Register</button>
	</form>

	</body>
{% endblock %}
</html>