/*Reset CSS*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input, button, submit, select {border:none;outline:none;}



/*Apply theme*/

body{
  font-family: MedievalSharp; /* default */
  background:var(--brown);
  --gold: #c8941c;
  --brown:#603f20;
  --grey: #666762;
  --light-brown: #8D6037;
  --tan: #F1F1D4;
}

.button{
  background: var(--grey);
  color: var(--gold);
  border-color: var(--gold);
  border: 2px solid;
  border-radius: 8px;
  font-weight: bold;
  font-family: MedievalSharp;
}

.dropdown{
  background: var(--grey);
  color: var(--gold);
  border-color: var(--gold);
  border: 2px solid;
  border-radius: 8px;
  font-weight: bold;
  font-family: MedievalSharp;
}


.colour-theme-1{
  background: var(--brown);
  color: var(--gold);
}
.colour-theme-2{
  background: var(--gold);
  color: var(--brown);
}

.header{
  position: fixed;
  top:0;left:0;right:0;
  padding:16px;
  height:52px;
  z-index: 1;
  border-bottom: 2px solid var(--gold);
}

.logo-container{
  position: absolute;
  left:0;top:0;bottom:0;
}

.logo-container h1{
  font-size: 24pt;
  font-weight: bold;
  line-height: 64pt;
  padding-left: 16px;
  padding-right: 16px;
}


.header-button{
  float: right;
  height:32px;
  width:130px;
  font-size: 18pt;
  margin-top:10px;
  margin-left:16px;
}

.button:active, .button:focus, .button:hover{
  outline:none;
}

.content{
  position: absolute;
  top:84px;left:0;right:0;bottom:0;
  padding-top: 16px;
}


.stream{
  width:90%;
  margin:auto;
  padding:16px;
}

@media(min-width:400px){
  .stream{
    width:400px;
  }
}


/*Post list*/

.sub-header{
  position: fixed;
  top:84px;left:0;right:0;
  height:20px;
  padding:16px;
  box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}
.new-post-button{
  border-color:var(--brown);
  background:var(--grey);
  color:var(--gold);
}

.view-posts-dropdown{
  border-color:var(--brown);
  background:var(--grey);
  color:var(--gold);  
}

.post{
  margin: 36px auto;
  background: var(--tan);
  border-radius: 5px;
}

.post-content{
  padding:16px;

}

.post-roll{
  height:30px;
  border-radius: 5px;
}
.post-header{
  box-shadow: inset  0  8px 20px -8px #696868, 
              inset  0 -8px 20px -8px #696868,
              0px 10px 20px -8px #696868;
    margin-bottom: 16px;
}
.post-footer{
  box-shadow: inset  0  8px 20px -8px #696868, 
              inset  0 -8px 20px -8px #696868,
              0px -10px 20px -8px #696868,
              0px 10px 20px -8px #696868;
}

.post-page{
  margin: 0;
}

.post-title{
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 8px;
  text-decoration: underline;
}

.post-image{
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;

}

.post-text{
  font-style: italic;
  word-wrap:break-word;
  max-width: 336px;
  margin: 16px;
}

.post-publish-info{
  font-size: 12px;
  text-align: right;
}

.comments-title{
  border-bottom:1px dotted rgba(0,0,0,0.2);

}

.comment{
  border-bottom:1px dotted rgba(0,0,0,0.2);
  padding: 8px;
  margin-bottom:8px;
}

.comment-text{
  word-wrap:break-word;
  max-width: 352px;
}